langchain
tiktoken
langchain_community
langchain_chroma
langchain-huggingface
huggingface-hub
sentence_transformers
chromadb
langchainhub
transformers
markdown
gradio
IPython
packaging
flash-attn==2.6.3
torch
accelerate>=0.26.0

